.talk_con{
    width:600px;
    height:500px;
    /* border:1px solid #666; */
    margin:0;
    background:#f9f9f9;
}
.talk_show{
    width:580px;
    height:420px;
    /* border:1px solid #666; */
    background:#fff;
    margin:0px auto 0;
    overflow:auto;
}
.talk_input{
    padding: '2px 4px';
    display: 'flex';
    width:580px;
    margin:10px auto 0;
}
.iconButton{
    padding:10;
}

.whotalk{
    width:80px;
    height:30px;
    float:left;
    outline:none;
}
.talk_word{
    width:504px;
    height:26px;
    padding:0px;
    float:left;
    margin-left:10px;
    outline:none;
    text-indent:10px;
    overflow: auto;
}        
.talk_sub{
    width:56px;
    height:30px;
    float:left;
    margin-left:10px;
}
.atalk{
   margin:10px; 
}
.atalk span{
    display:inline-block;
    background:#0181cc;
    border-radius:10px;
    color:#fff;
    padding:5px 10px;
}
.btalk{
    margin:10px;
    text-align:right;
}
.btalk span{
    display:inline-block;
    background:#ef8201;
    border-radius:10px;
    color:#fff;
    padding:5px 10px;
}

.player {
    autoplay: true;
}



body {
    margin: 0;
    padding: 0;
  }

  #map {
    /* position: absolute;
    top: 0;
    bottom: 0; */
    height: 500px;
    width: 100%;
  }

  .info-box {
    position: absolute;
    margin: 20px;
    width: 25%;
    top: 0;
    bottom: 40%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    overflow-y: scroll;
    font-family: sans-serif;
    font-size: 0.8em;
    line-height: 2em;
  }

  #info {
    font-size: 10px;
    font-weight: bold;
  }