.talk_con{
    width:600px;
    height:500px;
    /* border:1px solid #666; */
    margin:0;
    background:#f9f9f9;
}
.talk_show{
    width:580px;
    height:420px;
    /* border:1px solid #666; */
    background:#fff;
    margin:0px auto 0;
    overflow:auto;
}
.talk_input{
    padding: '2px 4px';
    display: 'flex';
    width:580px;
    margin:10px auto 0;
}
.iconButton{
    padding:10;
}

.whotalk{
    width:80px;
    height:30px;
    float:left;
    outline:none;
}
.talk_word{
    width:504px;
    height:26px;
    padding:0px;
    float:left;
    margin-left:10px;
    outline:none;
    text-indent:10px;
    overflow: auto;
}        
.talk_sub{
    width:56px;
    height:30px;
    float:left;
    margin-left:10px;
}
.atalk{
   margin:10px; 
}
.atalk span{
    display:inline-block;
    background:#0181cc;
    border-radius:10px;
    color:#fff;
    padding:5px 10px;
}
.btalk{
    margin:10px;
    text-align:right;
}
.btalk span{
    display:inline-block;
    background:#ef8201;
    border-radius:10px;
    color:#fff;
    padding:5px 10px;
}

.player {
    autoplay: true;
}



body {
    margin: 0;
    padding: 0;
  }

  #map {
    /* position: absolute;
    top: 0;
    bottom: 0; */
    height: calc(92vh + 10px);
    width: 100%;
  }

  .info-box {
    position: absolute;
    margin: 20px;
    width: 25%;
    top: 0;
    bottom: 40%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    overflow-y: scroll;
    font-family: sans-serif;
    font-size: 0.8em;
    line-height: 2em;
  }

  #info {
    font-size: 10px;
    font-weight: bold;
  }

  /* further */
  .container {
    background: #fff;
    box-sizing: border-box;
    max-width: 100%;
    margin: 0;
    padding: 0 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .destination-details {
    overflow: hidden;
    margin-left: -15px;
    position: relative;
    height: 100%;
  }

  .destination-img-container {
    position: relative;
    width: 100%;
    height: 50vh;
    overflow: hidden;
  }

  #destination-img {
      max-width: 100%;
      position: absolute;
      height: auto;
      top: 0;
      min-height:100%;
      min-width:100%;
      width:auto;
      height:auto;
      transform: translateY(-10%);
  }

  #destination-name {
      font-size: 24px;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      color: darkslategray;
      font-weight: bold;
      margin-top: 25px;
      margin-left: 35px;
  }

  #destination-intro {
      font-size: 14px;
      margin-left: 35px;
      max-height: 20vh;
    overflow-y: auto;
        padding-right: 25px;
  }

  .top-menu {
    background: #17477b;
    align-items: center;
    display: flex;
    height: 8vh;
    padding: 0 25px;
    justify-content: space-between;
  }

  .top-menu h1 {
    color: #fefefe;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: bolder;
    margin: 0;
  }

  .trip-data {
      align-items: center;
      display: flex;
      justify-content: end;
  }

  .user-info {
    box-sizing: border-box;
    padding-right: 20px;
    width: 100%;
  }

  .user-info * {
      margin-left: 5px;
  }

  .talk_con, .talk_input, .talk_show, .talk_word {
      width: 100%;
  }

.talk_con {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    height: calc(100% - 30px);
}

.talk_show {
    flex-grow: 1;
}

.talk_word {
    overflow: inherit;
}

.row {
    max-width: 100%;
    margin: 0;
}

.map-container {
    background: #30404e;
    position: absolute;
    top: calc(8vh - 10px);
    width: 100%;
    height: calc(92vh + 10px);  
    z-index: 10;
    transition: top .5s, opacity .4s;
    opacity: 1;
}

.map-container-hidden {
    position: absolute;
    top: 0vh;
    opacity: 0;
    width: 100%;
    z-index: -999;
    transition: top .5s, opacity .4s, z-index .8s 1s;
}

.map-button:disabled {
    background: #777;
    border-color: #777;
}

.map-button {
    margin-right: 15px;
}

#talkwords {
    overflow: hidden;
    padding: 10px;
}

.atalk {
    display: flex;
}

.page-content {
    display: flex;
    margin: 0 auto;
    height: 100%;
    margin-top: 30px;
    background: #f5f5f5;
    width: 1368px;
    flex-grow: 1;
}

.destination-list-hidden {
    box-sizing: border-box;
    width: 450px;
    background: #fff;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    box-shadow: 0px 10px 10px #000;
    height: 100%;    
    left: -460px;
    top: 0;
    transition: left .5s;
}

.destination-list {
    background: #f1f1f1;
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
    width: 450px;
    background: #fff;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    transition: left .5s;
    box-shadow: 0px 10px 10px #000
}

.destination-list h1, .destination-list-hidden h1 {
    font-size: 24px;
    background: #007bff;
    color: #fff;
    padding: 20px;
    margin-bottom: 0;
}

.destinations-menu {
    margin-right: 15px;
}

.destinations-list-items {
    padding: 0;
    /* height: 92vh; */
    overflow: auto;
    margin-top: 0;
}

.destinations-list-items .dest-item {
    list-style: none;
    border-bottom: 1px solid #e8e8e8;
    background: #f7f7f7;
    margin-top: 1px;
    padding: 4px 20px;
    font-size: 14px;
    color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.destinations-list-items .dest-item:active {
    background: #d9ebff;
}

.destinations-list-items .dest-item span {
    border-radius: 0;
    border: 0 solid #f7f7f7;    
    font-size: 16px;
    font-weight: bold;
    display: flex;
    font-weight: 300;
    width: 32px;
    height: 32px;
    justify-content: center;
    align-items: center;
}

.destinations-list-items .dest-item span:hover {
    cursor: pointer;
    color: #fff;
    display: flex;
    font-weight: 300;
    justify-content: center;
    width: 32px;
    align-items: center;
    height: 32px;
    border-radius: 16px;
    text-align: center;
    border: 16px solid #f50057;
    transition: border .3s;
}

.destination-add {
    width: 115px;
    padding: 10px 0 10px 40px;
    background: #0181cc;
    position: absolute;
    color: #fff;
    font-weight: bold;
    bottom: 0;
    left: -5px;
    transform: skewX(-10deg);
}

.destination-add:hover {
    cursor: pointer;
    background: #1992d8;
}

.destination-skip {
    width: 115px;
    padding: 10px 0 10px 40px;
    background: #ef8201;
    position: absolute;
    color: #fff;
    font-weight: bold;
    bottom: 0;
    left: 111px;
    transform: skewX(-10deg);
}

.destination-skip:hover {
    cursor: pointer;
    background: #f39322;
}

::-webkit-scrollbar {
    width: 5px;
    }

/* Track */
::-webkit-scrollbar-track {
background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555; 
}

.map-container .col-md-4 {
    position: relative;
}

.dest-parent {
    padding: 10px 0 !important;
    max-height: 92vh;
    overflow: auto;
}

.regen {
    bottom: 20px;
    position: absolute;
    width: calc(100% - 30px);
}

.dest-day {
    padding: 10px 0 10px 10px;
    font-size: 14px;
    background: #f7f7f7;
    margin-bottom: 0;
}

.map-container .dest-day {
    padding: 10px 0 10px 10px;
    font-size: 14px;
    background: rgba(0,0,0, 0);
    margin-bottom: 0;
    color: #fff;
}

.dragActive .dest-day {
    display: none !important;
}