.talk_con{
    width:600px;
    height:500px;
    /* border:1px solid #666; */
    margin:0;
    background:#f9f9f9;
}
.talk_show{
    width:580px;
    height:420px;
    /* border:1px solid #666; */
    background:#fff;
    margin:0px auto 0;
    overflow:auto;
}
.talk_input{
    padding: '2px 4px';
    display: 'flex';
    width:580px;
    margin:10px auto 0;
}
.iconButton{
    padding:10;
}

.whotalk{
    width:80px;
    height:30px;
    float:left;
    outline:none;
}
.talk_word{
    width:504px;
    height:26px;
    padding:0px;
    float:left;
    margin-left:10px;
    outline:none;
    text-indent:10px;
    overflow: auto;
}        
.talk_sub{
    width:56px;
    height:30px;
    float:left;
    margin-left:10px;
}
.atalk{
   margin:10px; 
}
.atalk span{
    display:inline-block;
    background:#0181cc;
    border-radius:10px;
    color:#fff;
    padding:5px 10px;
}
.btalk{
    margin:10px;
    text-align:right;
}
.btalk span{
    display:inline-block;
    background:#ef8201;
    border-radius:10px;
    color:#fff;
    padding:5px 10px;
}

.player {
    autoplay: true;
}



body {
    margin: 0;
    padding: 0;
  }

  #map {
    /* position: absolute;
    top: 0;
    bottom: 0; */
    height: 92vh;
    width: 100%;
  }

  .info-box {
    position: absolute;
    margin: 20px;
    width: 25%;
    top: 0;
    bottom: 40%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    overflow-y: scroll;
    font-family: sans-serif;
    font-size: 0.8em;
    line-height: 2em;
  }

  #info {
    font-size: 10px;
    font-weight: bold;
  }

  /* further */
  .container {
    background: #f2f2f2;
    box-sizing: border-box;
    max-width: 100%;
    margin: 0;
    padding: 0 0;
    min-height: 100vh;
  }

  .destination-details {
      overflow: hidden;
      margin-left: -15px;
  }

  .destination-img-container {
    position: relative;
    width: 100%;
    height: 40vh;
    overflow: hidden;
  }

  #destination-img {
      max-width: 100%;
      position: absolute;
      height: auto;
      top: 0;
      min-height:100%;
      min-width:100%;
      width:auto;
      height:auto;
      transform: translateY(-25%);
  }

  #destination-name {
      font-size: 24px;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      color: darkslategray;
      font-weight: bold;
      margin-top: 15px;
      margin-left: 35px;
  }

  #destination-intro {
      font-size: 14px;
      margin-left: 35px;
  }

  .top-menu {
    background: #30404e;
    align-items: center;
    display: flex;
    height: 8vh;
    padding: 0 25px;
    justify-content: space-between;
  }

  .top-menu h1 {
    color: #fefefe;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: bolder;
    margin: 0;
  }

  .trip-data {
      align-items: center;
      display: flex;
      justify-content: end;
  }

  .user-info {
    box-sizing: border-box;
    padding-right: 20px;
    width: 100%;
  }

  .user-info * {
      margin-left: 5px;
  }

  .talk_con, .talk_input, .talk_show, .talk_word {
      width: 100%;
  }

.talk_word {
    overflow: inherit;
}

.row {
    max-width: 100%;
    margin: 0;
}

.map-container {
    background: #30404e;
    position: absolute;
    top: 8vh;
    width: 100%;
    height: 92vh;    
    z-index: 10;
    transition: top .5s, opacity .4s;
    opacity: 1;
}

.map-container-hidden {
    position: absolute;
    top: 0vh;
    opacity: 0;
    width: 100%;
    z-index: -999;
    transition: top .5s, opacity .4s, z-index .8s 1s;
}

.map-button:disabled {
    background: #777;
    border-color: #777;
}

.map-button {
    margin-right: 15px;
}

#talkwords {
    overflow: hidden;
    padding: 10px;
}

.atalk {
    display: flex;
}

.destination-list-hidden {
    box-sizing: border-box;
    width: 400px;
    padding: 25px;
    background: #fff;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    box-shadow: 0px 10px 10px #000;
    height: 100%;    
    left: -400px;
    top: 0;
    transition: left .5s;
}

.destination-list {
    box-sizing: border-box;
    width: 400px;
    padding: 25px;
    background: #fff;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    transition: left .5s;
    box-shadow: 0px 10px 10px #000
}

.destination-list h1, .destination-list-hidden h1 {
    font-size: 24px;
    background: #007bff;
    color: #fff;
    margin: -25px -25px 0 -25px;
    padding: 20px;
}

.destinations-menu {
    margin-right: 15px;
}